@font-face {
    font-family: "SenFont";
    font-weight: 400;
    src: url("../font/Sen-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Sen-Font";
    font-weight: 700;
    src: url("../font/Sen-Bold.ttf") format('truetype');
}

/* SVG Icons */
@font-face {
    font-family: "SVGIcons";
    src: url("../font/svgicons.woff") format('Woff');
}