// min-height media для большой высоты экрана
@media (min-height: 1100px) {
    .main {
        &_base {
            height: auto;
            min-height: 100vh;
        }

        &_links {
            margin-top: 5vh;
        }
    }
}

@media (min-height: 1000px) {
    .main {

        &_music-platforms {
            width: 100%;
            min-height: 70vh;
            padding-bottom: 25vw;
            justify-content: space-between;
        }
    }
}

@media (max-height: 840px) {
    .main {
        &_base {
            height: auto;
            min-height: 100vh;
        }

        &_music-platforms {
            width: 100%;
            min-height: 60vh;
            padding-bottom: 25vw;
            justify-content: space-between;
        }
    }
}

// Wrapper затемнение main медиа запросы

@media (max-width: 1600px) {
    .main {
        &_bg-wrapper {
            border-left: 16vw solid $secondary-color;
            border-right: 16vw solid $secondary-color;
        }
    }
}

@media (max-width: 1300px) {
    .main {
        &_bg-wrapper {
            border-left: 12vw solid $secondary-color;
            border-right: 12vw solid $secondary-color;
        }
    }
}

// max-width media для меньших экранов
@media (max-width: 992px) {
    .main {

        &_bg-wrapper {
            border-left: none;
            border-right: none;
        }

        &_base {
            padding-top: 30px;
        }

        &_music-platforms {
            width: 100%;
            min-height: 60vh;
            padding-bottom: 25vw;
            justify-content: space-between;
        }
    }
}

@media (max-width: 576px) {

    .main {
        background: url(../img/bg-mobile.gif) center center / cover no-repeat;

        &_bg-wrapper {
            display: none;
        }

        &_logo {
            width: 50vw;
            height: 50vw;

            &-effect {
                background: url(../img/glitch2.gif) center center / cover no-repeat;
            }
        }

        &_base {
            height: auto;
            min-height: 100vh;
            border-left: none;
            border-right: none;

            &-effect {
                background: none;
            }
        }

        &_links {
            width: 100%;
        }

        &_link {
            width: 70%;
            font-size: 8vw;
            background-color: rgb(220, 0, 0);
            color: $primary-color;

            &:hover {
                background-color: rgb(220, 0, 0);
                color: $primary-color;
                font-weight: 700;
                cursor: default;
            }
        }

        &_music-platforms {
            width: 100%;
            min-height: 60vh;
            padding-bottom: 25vw;
            justify-content: space-evenly;

            .main_link {
                width: 80%;
                font-weight: 400;

                &:hover {
                    background-color: $thirdly-color;
                    color: $primary-color;
                    font-size: 8vw;
                    cursor: default;
                }
            }
        }

        &_other-links {
            column-gap: 12vw;
            height: 14vw;

            a {
                font-size: 9vw;
                width: 12%;
                height: 12vw;

                // height: calc(80% /);
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                    cursor: default;
                }

                .icon-deezer:before {
                    font-size: 7.5vw;

                }
            }
        }
    }
}